<!DOCTYPE html>
<html
  xmlns:th="http://www.thymeleaf.org"
  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
  layout:decorate="~{layouts/layout}"
  xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
>
  <div layout:fragment="main" style="height:700px;" >
<!--/*  thymeleaf comment  */-->
<br><br><br><br>
<h2>마이페이지</h2><br>

		<a th:href="@{/findMyPostListById}">내가 작성한 글 조회</a><br>
		<a th:href="@{/}">내가 찜한 목록</a><br>
		<a th:href="@{/}">회원정보수정</a><br>
		<a th:href="@{/}">회원탈퇴</a><br>
</div>
</body>
</html>