<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layouts/layout}"
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<div layout:fragment="main" >

	<br>
	<br>
	<br>
	<br>
	<form method="get" enctype="multipart/form-data">
		<span th:name="boardCategori" th:text="${param.boardCategori}"></span>
		
		<table class="table">
			<tr>
				<td><h1 th:text="${boardVO.title}"></h1></td>
			</tr>
			<tr align="left">
				<td style="font-size: 20px">
				<span style="font-weight: bold; "> 지역 : </span> <span th:text="${boardVO.region}"></span> <br>
				<span style="font-weight: bold; "> 주소 : </span> <span th:text="${boardVO.detailRegion}"></span> <br>
				<span style="font-weight: bold; "> 활동내용 : </span><span th:text="${boardVO.selectCategori}"></span><br>
				<span style="font-weight: bold; "> 예약가능날짜 : </span>
				<th:block th:each="rdate:${rdateList}">
						<span th:text="${rdate.reservationDate}"></span><br>
						<span style="margin-left: 133px"></span>
					</th:block>
				</td>
			</tr>
			
			<tr>
				<td><img style="max-width: 850px" th:src="@{${boardVO.filepath}}" /></td>
			</tr>
			<tr>
				<td><textarea rows="10" class="form-control" name="content"
						placeholder="본문내용" required="required" th:text="${boardVO.content}" ></textarea></td>
			</tr>
			<tr align="left">
				<td id="jjimImg">
					<img height="100" id="jjim" src="" />
					
				
				</td>
			</tr>
		</table>
	
		<div class="text-center">
			<input type="hidden" name="boardCategori"
				value="${param.boardCategori}" th:value="${param.boardCategori}">
			
			<button id="reserveBtn" type="button" class="btn btn-outline-dark" sec:authorize="isAuthenticated()==true" >예약하기</button>
			
			<br><br>
			<button type="button" class="btn btn-success" sec:authorize="isAuthenticated()==true" th:onclick="|location.href='@{/updatePostForm(boardNo=${boardVO.boardNo})}'|">수정하기</button>
			<button type="button" class="btn btn-light" sec:authorize="isAuthenticated()==true" th:onclick="|location.href='@{/deletePost(boardNo=${boardVO.boardNo})}'|">삭제하기</button>
		
			
		</div>
	</form>
<script type="text/javascript">
$(function() {
	let jjimCheck = [[${jjimCheck}]];
	
	if(jjimCheck=="1") {
        $("#jjim").prop("src", "assets/img/planting2.png");
    }else {
        $("#jjim").prop("src", "assets/img/planting.png");
    }
	
	var $j = jQuery.noConflict();
	let token = $("meta[name='_csrf']").attr("content");
	let header = $("meta[name='_csrf_header']").attr("content");
	$("#jjim").on("click", function() {
		
		$.ajax({
			type : "get",
			url : "/changeJjim?jjimCheck="+jjimCheck+"&boardNo="+[[${boardVO.boardNo}]],
			beforeSend : function(xhr)
            {   /*데이터를 전송하기 전에 헤더에 csrf값을 설정한다*/
				xhr.setRequestHeader(header, token);
            },
			success : function(result){
				 if (result == 1) {
					 $("#jjim").prop("src", "assets/img/planting2.png");
					 jjimCheck = 1;
					 
					
                 } else {
                	 $("#jjim").prop("src", "assets/img/planting.png");
                	 jjimCheck = 0;
                	 
                 }
			}
		});//ajax
	});//click
	
	$("#reserveBtn").click(function() {
		let listSize = [[${rdateListSize}]];
		let boardNo = [[${boardVO.boardNo}]];
		if(listSize==0){
			alert("이 활동은 예약이 모두 완료되었습니다");
		}else{
			location.href='reservationForm?boardNo='+boardNo;
		}
	});
	
});
</script>		
	
	
</div>	
</html>