<!DOCTYPE html>
<html
  xmlns:th="http://www.thymeleaf.org"
  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
  layout:decorate="~{layouts/layout}"
  xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
>
  <div layout:fragment="main" style="height:700px;" >
  <br><br><br><br>
  	<table class="table table-bordered">
    <thead>
      <tr>
        <th>NO</th>
        <th>TITLE</th>
        <th>CONTENT</th>
        <th>CATEGORI</th>
      </tr>
    </thead>
    <tbody>

      <tr th:each="board:${boardList}">
        <td th:text="${board.boardNo}">count</td>
        <td th:text="${board.title}">id</td>
        <td th:text="${board.content}">name</td>
        <td th:text="${board.boardCategori}">address</td>
      </tr>
    </tbody>
  </table>
  
	<button type="button" class="btn btn-secondary" sec:authorize="isAuthenticated()==true" th:onclick="|location.href='@{/registerPostForm (boardCategori=${param.boardCategori})}'|">글쓰기</button>
  </div>
</html>