<!DOCTYPE html>
<html
  xmlns:th="http://www.thymeleaf.org"
  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
  layout:decorate="~{layouts/layout}"
  xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
>
  <div layout:fragment="main" style="height:700px;" >
  <br><br><br><br>
  	<table class="table table-bordered">
    <thead>
      <tr>
        <th>글번호</th>
        <th>카테고리</th>
        <th>제목</th>
        <th>작성자</th>
        <th>작성일</th>
      </tr>
    </thead>
    <tbody>

      <tr th:each="board:${boardList}">
        <td th:text="${board.boardNo}">글번호</td>
        <td th:text="${board.boardCategori}">카테고리</td>
        <td>
        	<a th:text="${board.title}" th:href="@{/boardView(boardNo=${board.boardNo})}"></a>
        </td>
        <td th:text="${board.id}">작성자</td>
        <td th:text="${board.createdDate}">작성일</td>
      </tr>
    </tbody>
  </table>
  </div>
</html>