<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.kosta.myproject.mapper.BoardMapper">
	<sql id="selectBoard">
 		select board_no,title,content,select_categori,board_categori,region,created_date,id from farmily_board
 	</sql>
	<insert id="registerBoardBoard" parameterType="org.kosta.myproject.vo.BoardVO">
		insert into farmily_board(board_no,title,content,select_categori,board_categori,region,created_date,id,filename,filepath)
		values (seq_farmily_board.nextval,#{title},#{content},#{selectCategori},#{boardCategori},#{region},sysdate,#{id},#{filename},#{filepath})
	</insert>
	
	
	<select id="findAllBoardList" resultType="org.kosta.myproject.vo.BoardVO">
		<include refid="selectBoard"/> order by board_no desc
	</select>
	<select id="findBoardListByRegion" parameterType="String" resultType="org.kosta.myproject.vo.BoardVO">
		<include refid="selectBoard"/> where region = #{value} order by board_no desc
	</select>
	<select id="findBoardListByBoardCategori" parameterType="String" resultType="org.kosta.myproject.vo.BoardVO">
		<include refid="selectBoard"/> where board_categori = #{value} order by board_no desc
	</select>
	<select id="findBoardListBySelectCategori" parameterType="String" resultType="org.kosta.myproject.vo.BoardVO">
		<include refid="selectBoard"/> where select_categori = #{value} order by board_no desc
	</select>
	<select id="findBoardFarmingListByBoardCategori" parameterType="String" resultType="org.kosta.myproject.vo.BoardVO">
		<include refid="selectBoard"/> where board_categori = '농촌활동' order by board_no desc
	</select>
	<update id="updateBoard">
		update
	</update>
	
	<delete id="deleteBoard">
		delete
	</delete>
	
	<select id="boardView" parameterType="String" resultType="org.kosta.myproject.vo.BoardVO">
		select board_no,title,content,select_categori,board_categori,region,created_date,id, filename, filepath 
		from farmily_board 
		where board_no=#{value}
	</select>
</mapper>