<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.kosta.myproject.mapper.MemberMapper">
	<sql id="selectMember">
 		select id,password,name,region,tel,filename,filepath from farmily_member
 	</sql>
 	<insert id="registerMember" parameterType="org.kosta.myproject.vo.MemberVO">
		insert into farmily_member(id,password,name,region,tel,filename,filepath)
		values(#{id},#{password},#{name},#{region},#{tel},#{filename},#{filepath})
	</insert>
	<select id="idcheck" resultType="int">
		select count(*) from farmily_member where id=#{id}
	</select>
	<insert id="registerRole" parameterType="org.kosta.myproject.vo.Authority">
		insert into farmily_authorities(username,authority) values(#{memberVO.id},#{authority})
	</insert>
		<!-- Spring Security에서 로그인 인증시 사용 : 
	      사용가능한(enabled 1) 계정일 경우만 조회. 
	 	-->
	<select id="findMemberById" parameterType="string" resultType="org.kosta.myproject.vo.MemberVO">
 		SELECT	id,	password,	name, region, tel, enabled, filename, filepath
		FROM	farmily_member
		WHERE 	id=#{id}	
		AND		enabled=1 		
 	</select>
 	<select id="getRegionList" resultType="string">
 		select distinct region from farmily_member
 	</select>
 	<select id="findMemberListByRegion" resultType="org.kosta.myproject.vo.MemberVO">
 		select id,name,tel from farmily_member
 		where region=#{value}
 	</select>
 	<!-- <select id="login" resultType="MemberVO" parameterType="MemberVO">
 		<include refid="selectMember"></include>
 		where id=#{id} and password=#{password}
 	</select> -->
 	<select id="getMemberCount" resultType="int">
 		select count(*) from farmily_member
 	</select>
 	<update id="updateMember" parameterType="org.kosta.myproject.vo.MemberVO">
		update farmily_member set password=#{password}, name=#{name}, region=#{region}, tel=#{tel}
		where id=#{id}
	</update>
	<!-- Spring Security에서 권한 체크를 위해 사용 -->
	<select id="findAuthorityByUsername"  resultType="org.kosta.myproject.vo.Authority">
		SELECT	username,authority
		FROM	farmily_authorities
		WHERE	username=#{username}
	</select>
	<!-- 승인대기자 목록 -->
	<resultMap type="org.kosta.myproject.vo.MemberVO" id="MemberResultMap">
		<result column="id" property="id"/>
		<result column="name" property="name"/>
		<result column="tel" property="tel"/>
		<result column="region" property="region"/>
	</resultMap>
	<select id="findAllWaitingMember" resultMap="MemberResultMap">
		select fm.id, fm.name, fm.tel, fm.region
		from farmily_authorities fa
		inner join farmily_member fm
		on fa.username = fm.id
		and fa.authority = 'ROLE_WAIT'
	</select>
	<!-- adminController -->
	<insert id="grantAdminMember" parameterType="string">
		insert into farmily_authorities(username,authority) 
		values(#{id}, 'ROLE_ADMIN')
	</insert>
	<delete id="deleteWaitingMember" parameterType="string">
		delete from farmily_authorities
		where authority = 'ROLE_WAIT'
		and username = #{id}
	</delete>
	<select id="findAuthorityById" parameterType="String" resultType="String">
		select authority from farmily_authorities where username = #{value}
	</select>
</mapper>