<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.kosta.myproject.mapper.MyPageMapper">
	<update id="updateMember" parameterType="org.kosta.myproject.vo.MemberVO">
		update farmily_member
		set password=#{password}, name=#{name}, tel=#{tel}, region=#{region}
		where id=#{id} and enabled=#{enabled}
	</update>
	<select id="findMemberByIdAndPassword" parameterType="Map" resultType="int">
		select count(*) 
		from farmily_member
		where id=#{memberId} and password=#{memberPassword}
	</select>
	<update id="deleteMember" parameterType="string">
		update farmily_member
		set enabled=0
		where id=#{memberId}
	</update>
	<delete id="deleteRole" parameterType="string">
		delete from farmily_authorities
		where username=#{memberId}
	</delete>
</mapper>