<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.kosta.myproject.mapper.ReserveMapper">
	<insert id="availableReservation" parameterType="org.kosta.myproject.vo.ReservationVO">
		insert into farmily_reservation(reservation_no,reservation_date,board_no) values(seq_farmily_reservation.nextval,#{reservationDate},#{boardNo})
	</insert>
	<select id="getBoardNo" parameterType="string" resultType="string">
		select max(board_no) from farmily_board where id = #{id}
	</select>
	<select id="findReservateDate" parameterType="string" resultType="org.kosta.myproject.vo.ReservationVO">
		select reservation_no,reservation_date,board_no from farmily_reservation where board_no = #{value} and id is null
	</select>
	<update id="registerReservation" parameterType="org.kosta.myproject.vo.ReservationVO">
		update farmily_reservation set id = #{id} where board_no = #{boardNo} and reservation_date = #{reservationDate}
	</update>
</mapper>