<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
 		 	<footer th:fragment="footerFragment">
    			<br>
    			<br>
    			<br>
    		 <!--  FOOTER - LOCATION, AROUND THE WEB, ABOUT FREELANCER 부분 -->
              <!-- LOCATION-->
                    <div class="footer text-center fixed-down container-fluid">
                    <div class="row" >
                    <div class="col-lg-4 mb-5 mb-lg-0">
                        <h4 class="text-uppercase mb-4">Location</h4>
                        <p class="lead mb-0">
                            경기도 성남시 분당구 구미동 185-3 
                            <br />
                            하나프라자 6층
                            KOSTA
                        </p>
                    </div>
               <!-- AROUND THE WEB-->
                    <div class="col-lg-4 mb-5 mb-lg-0">
                        <h4 class="text-uppercase mb-4">Around the Web</h4>
                        <a class="btn btn-outline-light btn-social mx-1" href="#!"><i class="fab fa-fw fa-dribbble"></i></a>
                        <a class="btn btn-outline-light btn-social mx-1" href="#!"><i class="fab fa-fw fa-dribbble"></i></a>
                        <a class="btn btn-outline-light btn-social mx-1" href="#!"><i class="fab fa-fw fa-dribbble"></i></a>
                        <a class="btn btn-outline-light btn-social mx-1" href="#!"><i class="fab fa-fw fa-dribbble"></i></a>
                    </div>
              <!-- ABOUT FREELANCER-->
                    <div class="col-lg-4">
                        <h4 class="text-uppercase mb-4">Tel</h4>
                        <p class="lead mb-0">
                           0507-1309-9319
                        </p>
                    </div>
                    </div>
                </div>
    
       		<div class="copyright py-4 text-center text-white">
           		 <div class="container"><small>Copyright &copy; FARMILY</small></div>
       		 </div>
        </footer>	
</html>