<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layouts/layout}"
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<link rel="stylesheet" href="/resources/demos/style.css">
<link rel="stylesheet" href="http://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
<script src="https://code.jquery.com/jquery-1.12.4.js"></script>
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
<div layout:fragment="main" >
<br><br><br><br>
	<span th:text="예약완료">예약완료!</span>
	<script type="text/javascript">
		alert("예약 가능한 날짜가 없습니다");
		window.history.back();
	</script>
</div>	
</html>