<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<body>
	<!--  header  -->
	<header th:replace="fragments/header :: headerFragment"></header>
	
	<!--  메인 컨텐트 화면  -->
	<div>
			 <div class="container-fluid" id="main" layout:fragment="main"  ></div>
		 	<div class="container-fluid" th:replace="fragments/left :: leftFragment" ></div>	
	</div>
	
	<!--  footer  -->
	<footer th:replace="fragments/footer :: footerFragment"></footer>
</body>

</html>
